/* 全局样式表 */
@import url("//at.alicdn.com/t/font_2291628_5frjhqtijsl.css");
body,html,#app {
    height: 100%;
    padding: 0;
    margin: 0;
    min-width: 1000px;
}
.el-breadcrumb{
    margin-bottom: 15px
}
.el-table{
    margin-top: 10px;
    margin-bottom:15px
}
